{% extends "admin/layout.html" %}
{% block body %}
    <p>
        <a href="/admin/event/new">新增活動</a>
    </p>
    {% for event in details %}
        <table cellpadding="0" cellspacing="0" align="center">
            <tr>
                <td colspan="4">{{ event.title }}</td>
            </tr>
            {% for member in event.attend_list %}
                <tr>
                    <td>{{member.student_id}}</td>
                    <td>{{member.name}}</td>
                    <td>{{member.unit}}</td>
                    <td>Check</td>
                    <td>Del</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% endblock %}